body {
    background-color: black;
    font-family: Verdana;
}

header {
    text-align: center;
}

header h1{
    
    font-weight: Normal;
    font-size: 50px;
    color: white;
    
}

.link{
    color: aquamarine;
    font-size: 16px;
}